.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 16px;
    width: 60%;
}

.wrapper Button {
    background-color: #3498db;
}

.wrapper button:hover {
    background-color: #3498db;
}